.menuBar{
    background-color: #EE6C4D;
}

footer{
    background-color: #293241;
}

#startFormImg{
    max-height: 200px;
}

.endFormImg{
    height: 200px;
}

.founders{
    width: 80%;
    border-radius: 10px;
}

.mainImg{

    border-radius: 10px;
}

.smallImg{

}