.body{
    background-image: url(https://i.ibb.co/pRSWNtQ/back-image-edited.png);
    background-repeat: repeat;
    background-position: left;
    background-attachment: fixed;
}

.menuBar{
    background-color: #EE6C4D;
}

footer{
    background-color: #293241;
}